@import url('http://fonts.googleapis.com/css?family=Lora');

body { background-color: #ecf0f1; }
.container-khanacademy {
  text-align: center;
  width: 700px;
  min-width: 400px;
  margin: 0 auto;
  line-height: 1.5rem;
}
.container-text {
  font-family: 'Lora', sans-serif, Verdana;
  margin-top: 5rem;
  color: #212121;
}
#canvas {
  border-radius: 2rem;
  margin-top: 1rem;
  outline: 0;
}
a {
  outline: 0;
  text-decoration: none;
}
a:link { color: #c26767; }
a:visited { color: #c49c6b; }
a:hover { color: #6a8fc2; }
a:active { color: #67bd96; }
a:focus { color: #bbc26a; }
