
/* Menu */
.NavMenu {
  height: 40px;
  width: 650px;
  margin: 0 auto;
  padding: 0 0px 0 15px;
  background: #4c4e5a;
  background: linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
  border-radius: 5px;
}

.NavMenu li {
  position: relative;
  list-style: none;
  float: left;
  display: block;
  height: 20px;
}

/* Links */
.NavMenu li a {
  display: block;
  padding: 0 14px;
  margin: 6px 0;
  line-height: 28px;
  text-decoration: none;
  
  border-left: 1px solid #393942;
  border-right: 1px solid #4f5058;
  
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  
  color: #f3f3f3;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  
  transition: color .2s ease-in-out;
}


.NavMenu li:first-child a {
  border-left: none;
}
.NavMenu li:last-child a {
  border-right:none;
}

.NavMenu li:hover > a {
  color: #8fde62;
}

/* Sub-Menu */
.NavMenu ul {
  position: absolute;
  top: 40px;
  left: 0;
  
  opacity: 0;
  background: #1f2024;
  
  border-radius: 0 0 5px 5px;
  
  transition: opacity .25s ease .1s;
}


.NavMenu li:hover > ul {
  opacity: 1;
}

.NavMenu ul li {
  height: 0;
  overflow: hidden;
  padding: 0;
  
  transition: height .25s ease .1s;
}

.NavMenu li:hover > ul li {
  height: 60px;
  overflow: visible;
  padding: 0;
}

.NavMenu ul li a {
  width: 100px;
  padding: 4px 0 4px 40px;
  margin: 0;
  
  border: none;
  border-bottom: 1px solid #353539;
}

.NavMenu ul li:last-child a {
  border: none;
} 

.menu a.documents { background: url(../img/docs.png) no-repeat 6px center; }
.menu a.messages { background: url(../img/bubble.png) no-repeat 6px center; }
.menu a.signout { background: url(../img/arrow.png) no-repeat 6px center; }
